In [2]:
print('Hello class!')

Hello class!

In [3]:
#variables, native types and basic operations

In [9]:
# - comenting
a = 2
b = 3
c = 4  #(this are integers; n√∫meros inteiros)

d= True
e= False  #(these are boolians;)

f= 2.37 #(this is a float)

g='Hello'  #(this are strings)

print(b) #most used way;
display(c) #also used to see;

3

4

In [14]:
a=2
a = a + a
print('value a is equal to' , a)  #assign a certain variable to the same variable

value a is equal to 4

In [15]:
a= 'hello'
a = a + '2'
print(a)               #to mix strings with strings;

hello2

In [17]:
type('Hello')   #to understand the typy of variable

str

In [18]:
type(2.14)

float

In [19]:
type(-1)

int

In [20]:
a = 'hello'
a.upper()   #uppercase all the string , can also use lower or title (only capital letters)

'HELLO'

In [21]:
a=2
a.upper()  #different tools for different types of variables (int, strings, bool or floats)

AttributeError: 'int' object has no attribute 'upper'

In [23]:
#Container Types - Lists, Turples,    (lists will be the one we'll use the most)
#A container is a single object that encapsulates different types of variables, int, floats, bool, etc)

type([5.0 , 'hello', 10 , True])   #this is a list

list

In [28]:
mylist = [5.0 , 'hello', 10 , True]
print(mylist)

5.0

In [29]:
mylist[3]  #this is indexing, where you just want a certain number of the list

True

In [31]:
print(mylist[-1])  #choosing -1 is more modular, and suits any type of list, independening of list size;
type(mylist[3])

True

bool

In [32]:
len(mylist)

4

In [33]:
mylist[len(mylist)]   #this error will appear many times, it's common

IndexError: list index out of range

In [47]:
mylist[1::2]

['hello', True]

In [48]:
mylist[::5]

[5.0]

In [51]:
test_list= ['January', 'Mar', 'May', 'July', 'Aug','Oct' ,'Dec']
print(test_list)

['January ', 'Mar', 'May', 'July', 'Aug', 'Oct', 'Dec']

In [56]:
print(test_list[1::5])   #in print the result comes as a string; with display the result is a list

['Mar', 'Dec']

In [60]:
test_sentence = "In the beginning the universe was created. This is widely regarded as a bad move and has made a lot of people angry."
type(test_sentence)
print(test_sentence[0:6])

In the

In [72]:
print(test_sentence[-6:-1])

angry

In [82]:
#Revision of Flow Control and Loops;

mylist = [5.0 , 'guitar' , 10 , True]
Types = []

#I want to go inside the variable and ask the type for each of the arguments

for element in mylist :
    display(type(element))
    print('I am inside')
print('I am outside')
print(element)   #it prints the last element, so "True"

float

I am inside

str

I am inside

int

I am inside

bool

I am inside
I am outside
True

In [87]:
#Conditional - If, elseif, else statement
#a = 2 
#a = 'hello'
a = 2.0
if type(a) == int: # this is called the conditional
    print(a+1)
else:
    print('Not an integer')

Not an integer

In [93]:
a = 'True'
a = 2.0

if(type(a) == int) or(type(a) == float):   # or is the same as |   and and is the same as &
    print (a + 1)
else:
    print('choose and int or float')

3.0

In [103]:
a = 2
b = 5
#divisions always provide a result in a float number
# % is used to show the remaining of a division  (ex: 2%3)
a%b

2

In [116]:
test_sentence = "In the beginning the universe was created. This is widely regarded as a bad move and has made a lot of people angry."


print ('these are all the a and b in my sentence: ')
for letter in test_sentence:
   if (letter == 'a') | (letter == 'b'):
    print(letter)
   else:
    continue       #continue is to continue the loop without doing anything
    #break        #break stops the loop when the first if is not correspondent

these are all the a and b in my sentence:
b
a
a
a
a
a
b
a
a
a
a
a
a

In [128]:
test_all_month= ['January','Feb', 'Mar','April', 'May','June', 'July', 'Aug','Sept','Oct', 'Nov' ,'Dec']   #use searching with jumpers
test_list= ['January', 'Mar', 'May', 'July', 'Aug','Oct' ,'Dec']

#for days in test_all_month:                        #DO THIS HOMEWORK
  #   if days == test_list:
   #     print(days)
    # else:
     #   continue

for month in test_list:
    if month[0].upper() == 'M':    # here we are asking that for month to month we ask to search ONLY the first letter with the letter M
        print(month.upper())    #print the results all in upper cases
    else :
        print(month)

January
MAR
MAY
July
Aug
Oct
Dec

In [130]:
mylist = [5.0 , 'guitar', 10, True]
type_list= []

for  element in mylist:
    type_list.append(type(element))   #for every loop it will insert in type_list, the type of the elements
display(type_list)

[float, str, int, bool]

In [131]:
#we can write for loops in a more effecient way called LIST COMPREHENSION

[type(thing) for thing in mylist]  #1st start by writing the for loop and then go back to the beginning and put what we want to know

[float, str, int, bool]

In [134]:
#Nested loops

cool_list = [[1,2,3,4], ['eenie', 'meenie', 'miny','moe'], [True , False , True]]  #eg, 1 is the first element for the first sublist and miny is the third element of the second sublist
for sub_list in cool_list:
    for element in sub_list:   #this second for loop searches for each element inside of sub_list and the print displays it
        print(element)

1
2
3
4
eenie
meenie
miny
moe
True
False
True

In [139]:
#While loops

i= 0

while i < 6:
    i = i +1 
    print(i)

6

In [141]:
i = 0

while i < 6: 
    if i ==3:
        continue
    else:
        i = i +1 
        print(i)

1
2
3

KeyboardInterrupt:

In [150]:
i= 0 

while i < 6 : 
    i += 1
    if i == 3:
        break
    print(i)

1
2

In [143]:
import math

In [145]:
math.sqrt(16)

4.0

In [146]:
import seaport

ModuleNotFoundError: No module named 'seaport'

In [147]:
import keras

ModuleNotFoundError: No module named 'keras'

In [151]:
import math as m

m.sqrt(16)

4.0

In [152]:
from math import cos   #we can import multiple functions using comma (,)  for eg from math import cos, sin, tan
cos(10)

-0.8390715290764524

In [1]:
test_all_month= ['January','Feb', 'Mar','April', 'May','June', 'July', 'Aug','Sept','Oct', 'Nov' ,'Dec']   #use searching with jumpers
test_list= ['January', 'Mar', 'May', 'July', 'Aug','Oct' ,'Dec']
matches_31 = []

for element in test_all_month:
    if element in test_list:
        matches_31.append(element)
    else:
        continue
print(matches_31)

['January', 'Mar', 'May', 'July', 'Aug', 'Oct', 'Dec']